
@model AllListModel
@{
    ViewData["Title"] = "Home Page";
}



  <!-- Content Wrapper. Contains page content -->
<div class="content ">
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid ">
        <div class="row mb-2 ">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@Model.PrintModels.Count</h3>

                        <p>Print Quantity</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>
                            @Model.Wallets.OrderBy(p=>p.Balance>0).Select(p=>p.Balance).Sum() <sup style="font-size: 20px">₺</sup></h3>

                        <p>Total Wallet Balance </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        @{ var userCount = Model.Users.Count;}
                        <h3>@userCount</h3>

                        <p>Registered User</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3> @Model.Files.OrderBy(p=>p.FileSize>0).Select(p=>p.FileSize).Sum() Mb</h3>

                        <p> Total data on the server</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
      
    </div><!-- /.container-fluid -->
</section>
    
<section class="content">
<div class="container-fluid">

    <!-- TABLE: LATEST OPERATIONS -->
<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Latest Operations</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>User</th>
                </tr>
                </thead>
                <tbody>
                @{var mycounter=0;} 
                @foreach (var item in Model.Operations)
                {
                    if (mycounter>=5)
                    {
                        break;
                    }

                    <tr>
                        <td><a href="pages/examples/invoice.html">@item.Id</a></td>
                        <td>@item.TotalAmount</td>
                        <td><span class="badge badge-success">@item.OperationResult</span></td>
                        <td>
                            @Model.Users.FirstOrDefault(p=>p.id==@item.UserId).userName
                        </td>
                    </tr>
                  
                   
                    mycounter++;
                }


                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-left">Place New Operations</a>
        <a asp-controller="Home" asp-action="Operations"  class="btn btn-sm btn-info float-right  "><i class="fa-solid fa-eye"></i> View All Operation</a>
    </div>
    <!-- /.card-footer -->
</div>

<!-- /.row -->

<!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-12">
                          <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Most preferred printers</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <ul class="products-list product-list-in-card pl-2 pr-2">
                @foreach (var item in Model.Printers)
                {
                    <li class="item">
                        <div class="product-img">
                                                    <img src="https://target.scene7.com/is/image/Target/GUEST_5bd93635-e33a-4ca4-be2b-cd8e45a8108a?wid=800&hei=800&qlt=80&fmt=pjpeg" alt="" />
                        </div>
                        <div class="product-info">
                            <a href="javascript:void(0)" class="product-title">@item.Brand @item.Model
                                <span class="badge badge-success float-right">ID : @item.Id</span></a>

                            <span class="product-description">
                                @item.PrinterName
                            </span>
                            <span class="product-description">
                                @item.PrinterIP
                            </span>
                        </div>
                    </li>
                }

                </ul>
            </div>
            <!-- /.card-body -->
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Printers" class="uppercase">View All Printers</a>
            </div>
            <!-- /.card-footer -->

        </div>
                </div>
                <!-- /.col -->



                <!-- /.col -->
            </div>
            <!-- /.row -->


            <!-- /.card -->
        </div>
        <div class=" col-md-4">
            <!-- Info Boxes Style 2 -->
            <div class="info-box mb-3 bg-warning">
                <span class="info-box-icon"><i class="fa-solid fa-coins"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Earning</span>
                    @{ var Earing = @Model.Options.OrderBy(p => p.Amount > 0).Select(p => p.Amount).Sum();}
                    <span class="info-box-number"> @Earing -  <i class="fa-solid fa-turkish-lira-sign"></i> </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-success">
                <span class="info-box-icon"><i class="fa-solid fa-address-card"></i></span>

                <div class="info-box-content">
                <span class="info-box-text">
                    Members today</span>
                @{
                    var yesterday = DateTime.Now.AddDays(-1);
                 
                   

                }
                    <span class="info-box-number">@Model.WalletActivities.FindAll(p=>p.OperationType=="Wallet Creating"&& p.ActivityDate>@yesterday).Count()</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 bg-danger">
                <span class="info-box-icon"><i class="fa-solid fa-money-bill-trend-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">
                        Average earnings per user</span>@{ var perUser = Earing / userCount;}
                    <span class="info-box-number">@perUser -  <i class="fa-solid fa-turkish-lira-sign"></i></span>
                </div>
                <!-- /.info-box-content -->
            </div>
       


        </div>
        <!-- /.col -->
        <!-- PRODUCT LIST -->
  
        <!-- /.card -->
    
        <!-- /.col -->
    </div>

<!-- /.row -->
</div><!--/. container-fluid -->

</section>
<!-- /.content -->
</div>

  <!-- /.content-wrapper -->

<script>

    document.getElementById('target').innerHTML = @Model.Wallets.OrderBy(p=>p.Balance>0).Select(p=>p.Balance).Sum() / 10000 * 100;
</script>
